
.fulldiv{
  
  margin-left: 50px;
  margin-right: 25px;
}
/* <!-- navbar  --> */
.navbar{
    margin-bottom: -20px;
    margin-top: 0px;

  }
  #items{
    margin-left: auto;
    margin-right: auto;
  } 
  #icon{
    font-size: 30px;
    font-family: 'jost';
    font-weight: bolder;
    color: black;
    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto;
  }
  .navbar img{
    height: 130px;
    margin-left: 24px;

  }
  #nav{
    padding:14px ;
    color: rgb(0, 0, 0);
    font-family:'Jost', sans-serif;
    letter-spacing: 1px;
    font-size: 15px;
    transition: all .25s ease-in-out;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
  } 
  #nav::after {
    content: '';
    display: block;
    width: 0;
    height: 2.3px;
    background:#00439b;
    transition: width .3s;
  } 
  #nav:hover::after {
    width: 100%;
    transition: width .4s;
  }
  
  /* <!-- navbar  --> */

  
  /* Top button styling starts */
  body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
  }
  
  #myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: rgb(145, 0, 0);
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
    font-weight: bold;
  }
  
  #myBtn:hover {
    background-color: #00f320;
  }



/* top button ends  */


  /* styling of players starts */
  #cdh{
    margin-top: 10px;
    height: 100%;
    width: 100%;
   padding: -15px;
 
}
#cdh12{
  position: relative;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 300px;
  width: 100%;
 

}




#cdh12:hover .overlay2{
  height: 100%;
 
}

.overlay2{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color:#0c0c0d67;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
  backdrop-filter: blur(2px);
}




#listof{
  list-style-type: none;
  align-items: center;
  text-align: center;
}

.hbs1{
  font-family:century Gothic ;
  font-weight: bold;
  font-size: 18px;
  list-style: none;
 text-transform: uppercase;

  
}
#imbs{
  height: 300px;
  width: 100%;
}
.hbs2{
  font-family:'jost' ;
  font-weight: lighter;
  font-size: 15px;
  padding: 3px;
  text-align: justify;
  list-style: none;
  margin-bottom: 10px;
}


.txtbs{
  color: whitesmoke;
  font-size: 10px;
  position: absolute;
  top: 57%;
  left: 44%;
  width: 100%;
  align-items: center;
  font-family: 'jost';
 padding-left: 2px;
 padding-right: 2px;

  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;

}

/* styling of players ends */

  /* <!-- footer --> */
  #footer{
    background-color: rgb(2, 2, 28);
    height: fit-content;
    margin-top: 50px;
    margin-bottom: 10px;
    padding: 40px;
  }
  #footer img{
    height: 220px;
    width: 220px;
    margin-top: 40px;
  }
  
  
  #footer h2{
    color: white;
    font-family:'jost';
    letter-spacing: 1px;
    font-size: 17px;
    font-weight: bold;
  margin-top: 20px;
  margin-bottom: 35px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  }
  
  #footer-div-2 ul li{
    list-style: none;
    padding: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
  }
  #footer-div-2 a{
    color: white;
    text-decoration: none;
    font-size: 15px;
    text-transform: capitalize;
    transition: all .25s ease-in-out;
  }
  #footer-div-2 a:hover{
    color: #ecb70f
  }
  #footer-div-3 ul li{
    list-style: none;
    padding: 10px;
    text-align: center;
   
  }
  #footer-div-3 a{
    color: white;
    text-decoration: none;
    font-size: 15px;
    text-transform: capitalize;
    transition: all .25s ease-in-out;
  }
  #footer-div-3 a:hover{
    color: #ecb70f
  }
  
  #footer-div-4 ul li{
    list-style: none;
    padding: 10px;
    text-align: center;
  
  }
  #footer-div-4 a{
  color: white;
  text-decoration: none;
  font-size: 15px;
  text-transform: capitalize;
  transition: all .25s ease-in-out;
 
  
  }
  #footer-div-4 a:hover{
    color: #ecb70f
  }
  #footer-row{
    border-bottom: 1px solid rgb(255, 255, 255);
  
  }
  
  /* <!-- footer --> */

  
  /* copyrights */
  
#copyrights{
  padding-top: 10px;
  color: rgb(101, 183, 235);
  font-weight: bolder;
  font-family: "Andalus";
  align-items: center;
  text-align: center;
  font-size: 18px;
 

  
}

 /* copyrights */